@layer color, base, components, utils;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  body,
  a {
    color: white;
    background-color: #1e1e1e;
  }

  body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@layer utils {
  .colored-text {
    font-weight: bold;
    color: #30aa82;
  }
}
